li {
    list-style: none;
}

.scrollbox {
    height: calc(100% - 48px);
    width: 100%;
    top:0;
    overflow-y: scroll;
    overflow-x:hidden;
    position: absolute;
}

.toolbar {
    position: absolute;
    height: 32px;
    bottom: 0;
}