:host {
    border-top: 1px solid rebeccapurple;
    height: 32px;
    width: 100%;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    background-color: rgba(102,51,153,0.6);
}

.cpu-status {
    color:white;
}