.chichi {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}

.menu {
  position: absolute;
  top: 0%;
}

chichi-toolstrip {
  position: absolute;
  width: auto;
}

chich-popover {
  display: inline-block;
  background-color: red;
}



.nesDisplay {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
}

.chichiPig {
  position: absolute;
  float: left;
  height: 100%;
  width: 75%;
  left: 12.5%;
}

canvas {
  image-rendering:optimizeQuality;
  aspect-ratio: 5/4;
}

@media screen and (min-aspect-ratio: 5/4) {
  canvas {
    height: 100%;

    
  }
}


@media screen and (max-aspect-ratio: 5/4) {
  canvas {
    width: 100%;
    height: auto;
  }
}


app-side-panel {
  position: absolute;
  width: 30%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border-left: 3px solid aliceblue;
  background-color: #282828;

}